# URL base para API do Backend.
# Em desenvolvimento local, o vite.config.ts já faz o proxy para http://localhost:8081 se isso não for informado.
# Em produção via Docker Compose, o Nginx faz o proxy pela rota /api, então pode deixar em branco ou setar para /api.
# Exemplo para buildar com apontamento fixo: VITE_API_URL=http://<IP_DA_VM>/api
VITE_API_URL=/api
