# Configurações do Banco de Dados
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/sigtef_db
SPRING_DATASOURCE_USERNAME=sigtef_user
SPRING_DATASOURCE_PASSWORD=sigtef_password

# Segurança (Gere uma string longa e aleatória para Produção)
JWT_SECRET=super_secret_key_for_production_environment_123456789

# Integração Resend (E-mail)
RESEND_API_KEY=re_sua_chave_aqui

# CORS
# CORS_ALLOWED_ORIGINS=http://localhost:5173,https://www.sigtef.com.br

# Retenção (Backup Script)
# RETENTION_DAYS=7
